body {
	margin: 0;
}

/*index*/
#nav {
	height: 40px;
	width: 96%;
	padding: 20px 2%;
}

#brand img{
	width: 200px;
	height: 70px;
}

#mobile {
	width: 50px;
	height: 50px;
	margin-top: -40px;
	float: right;
	cursor: pointer;
}

#mobile span {
	position: relative;
	top: -20px;
	display: block;
	margin: 6px 0;
	border-radius: 5px;
	height: 7px;
	width: 100%;
	background: silver;
}

.nav-mobile {
	display: none;
	width: 50%;
	height: 100%;
	position: fixed;
	background: white;
}
.nav-mobile ul li{
	list-style: none;
}
.nav-mobile ul li a {
	display: block;
	padding: 10px 0;
	color: black;
	text-decoration: none;
}
.nav-mobile ul li a:hover {
	
	color: silver;
}

#nav ul{
	display: none;
}

/*texto*/

#parra {
	background: silver;
	width: 100%;
	margin-top: 35px; 
	padding: 15px 0px;
	
}

#parra p {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0px;
	font-family: calibri;
	width: 80%;

}

#parra img {
	display: block;
	margin: 0 auto;
}
#logos {
	display: flex;
	justify-content: center;
}
#logos .logo img {
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
	margin: 5px;


}

/*lugares*/

#lugares {
	width: 100%;
	margin: 20px 0px;
	position: relative;
	top: 20px;
    
}

#lugares figure {
	margin: 0;
	
}

#lugares figure .nombre {
	background: rgba(49, 49, 49, 0.6);
	color: white;
	padding: 8px 0px;
	font-size: 12px;
	position: relative;
	top: -40px;
	font-family: Calibri;
	font-size: 20px;
	display: block;
	text-align: center;
	cursor: pointer;
}

#lugares img {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-right: 0;
	cursor: pointer;
}

#lugares1 {
	width: 100%;
	margin: 20px 0px;
	position: relative;
	top: 20px;
    
}

#lugares1 figure {
	margin: 0;
	
}

#lugares1 figure .nombre {
	background: rgba(49, 49, 49, 0.6);
	color: white;
	padding: 8px 0px;
	font-size: 12px;
	position: relative;
	top: -40px;
	font-family: Calibri;
	font-size: 20px;
	display: block;
	text-align: center;
	cursor: pointer;
}

#lugares1 img {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-right: 0;
	cursor: pointer;
}

/*segundo*/

#cajas .option {
	height: 600px;
}

#cajas .option figure {
	margin: 0;
	height: 600px;
}


#cajas .option img {
	display: block;
	margin: 0 auto;
	width: 100%;

}

#cajas .option h2 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -215px;
	text-align: center;
	color: white;	
	font-family: Calibri;
	font-size: 35px;
}

#cajas .option p {
	display: block;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: -205px;
	text-align: center;
	color: white;	
	font-family: Calibri;
	font-size: 18px;
	width: 400px;
	
}

#cajas .option button {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -180px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	font-family: Calibri;
	font-size: 18px;
	color: white;
	background-color: rgba(255,255,255, 0.1);
	cursor: pointer;
}

@media screen and (min-width:800px) {

	#mobile {
		display: none;
	}

	#brand {
		float: left;
	}

	#nav {
		display: flex;
		flex-direction: row;
	}

	#nav ul{
		display: flex;
		float: right;
		width: 70%;
		position: relative;
		margin: 0;
		margin-top: 15px;
		margin-left: 250px;

	}
	#nav ul li{
		flex: 1;
		list-style: none;
		display: block;
		margin: 0 auto;
	}
	#nav ul li a{ 
		
		text-decoration: none;
		color: silver;
		font-family: Calibri;
		font-size: 18px;
	}
	#nav ul li a p { 
		display: block;
		margin: 0 auto;
		text-align: center;

	}

	#parra {
		display: flex;
		flex-direction: row;
		background: silver;
		width: 100%;
		margin-top: 35px; 
		padding: 15px 0px;
	
	}

	#parra p {
		
		text-align: left;
		padding: 10px 0px;
		font-family: calibri;
		width: 60%;
		margin-left: 40px;

	}

	#parra img {
		display: block;
		margin: 0 auto;
	}
	#logos {
		display: flex;
		justify-content: center;
	}
	#logos .logo img {
		width: 40px;
		height: 40px;
		padding-right: 10px;
		margin: 20px;
	}

@media screen and (min-width:500px){
	
	#lugares1 {
		display: flex;
		align-items: flex-end;
		padding: 0 4px;
		position: relative;
		top: -160px;
		
	}

	#lugares1 figure {
		display: block;
		margin: 0 auto;
		width: 100%;
	}




	#lugares1 img {
		margin-top: 8px;
        vertical-align: middle;
	}

	#lugares1 img.lamba {
		flex-grow: 3.5;
		
	}



	#lugares1 img.ica {
		flex-grow: 3;
		
	}

	#lugares1 img.arequipa1 {
		flex-grow: 3.5;

	}


	#lugares {
		display: flex;
		align-items: stretch;
		padding: 0 4px;

		
	}

	#lugares figure {
		display: block;
		margin: 0 auto;
		width: 100%
		
	}

	#lugares img {
		margin-top: 8px;
        vertical-align: middle;
	}

	#lugares img.lima {
		flex-grow: 3.5;
		
	}



	#lugares img.loreto {
		flex-grow: 3;
		
	}

	#lugares img.cusco {
		flex-grow: 3.5;

	}

	/*segundo*/ 

	#cajas {
		display: inline-flex;
		align-items: stretch;
	}

	#cajas .option  {
		width: 33.3%;
	}

}
/*HECHO POR ANTONY*/
body {/**** Cuerpo principal ****/
    background: rgb(34, 46, 45);
}
#encabezado {
    height: 20px;
	width: 96%;
    padding: 20px 2%;
    background: rgb(40, 46, 38);
}
#brand {/*Caja de la imagen*/
    float: left;
}
#logo {/*id de la imagen del logo*/
    height: 90%;
    width: 150px;
    margin-top: -8px;

}
#buscYMenu {/*Aqui esta el buscador y el menu*/
    float: right;
    width: 70%;
    height: 90%;
}
.bym {/*clase-para el margen del menu y buscador*/
    margin: 4px;
    float: left;
}
#miBusqueda {
    background: #315e33;
    height: 100%;
    text-align: center;
    width: 50%;
}
/*#boton {
    background: #151515;
    height: 100%;
    width: 10%;
    margin-top: -8px;

}*/
#menu {/*Aqui se diseña solo el menu*/
	width: 50px;
	height: 100%;
	margin-top: -8px;
	float: right;
	cursor: pointer;
}
#menu span {/*Lineas en el menu*/
	display: block;
	margin: 6px 0;
	border-radius: 5px;
	height: 7px;
	width: 100%;
	background: yellowgreen;
}
/*Aqui el menu deslizante*/
.men-mobile {
	display: none;
	width: 20%;
	height: 100%;
	position: fixed;
	background: rgb(142, 215, 248);
}
.men-mobile ul li{
	list-style: none;
}
.men-mobile ul li a {
	display: block;
	padding: 10px 0;
	color: rgb(94, 22, 22);
	text-decoration: none;
}
.men-mobile ul li a:hover {
	color: rgb(35, 68, 64);
}
/*CONTENIDO*/
#contenido {
    width: 100%;
    height: 300px; 
}
/*REDES SOCIALES*/


#redes {
    width: 100%;
    height: 50px;

	display: flex;
	justify-content: center;
}
#face {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
#ins {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px;

}	
@media screen and (min-width:1000px) {
	#menu {
		display: none;
	}
	#brand {
		float: left;
	}
	#encabezado ul {
		display: flex;
		float: right;
		width: 70%;
	}
	#encabezado ul li {
		flex: 1;
		list-style: none;
	}
	#encabezado ul li a {
		text-decoration: none;
		color: white;
	}

}
